html {
    font-size: 15px;
    margin-bottom: 1000px;
}


/* 1 - Estilos de listas */


.lista-pontos {
    list-style-type: square;
}

.lista-numerica {
    list-style-type: lower-roman;
}

.lista-imagem {
    list-style-type: none;
    list-style-image: url("img/circle.png");
}


/* 2 - Unidades de medida */


.container {
    width: 80%;
    border: 1px solid rgb(24, 218, 56);
    font-size: 15px;
}

.pixel-box {
    width: 200px;
    height: 50px;
    border: 2px solid #4d1ece;
}

.percent-box {
    width: 50%;
    height: 100px;
    border: 2px solid rgb(212, 39, 16);
    margin: 2px;
}

/* em -> 2x o tamanho de fonte do elemento pai(container(15px)) */
.em-text {
    font-size: 2em;
}

/* rem -> fonte controlada pelo root element(html(15px)) */
.rem-text {
    font-size: 2rem;
}


/* 3 - Pseudo classes */


.styled-list {
    list-style-type: none;
}

.styled-list li:first-child {
    color: red;
}

.styled-list li:last-child {
    color: rgb(74, 167, 31);
}

.styled-list li::before {
    content: "* ";
}

.hover-box {
    text-align: center;
    padding-top: 10px;
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: rgb(233, 236, 20);
    transition: .5s;
}

.hover-box:hover {
    background-color: aqua;
    cursor: grab;
    transform: scale(1.1);
    border-radius: 20%;
}


/* 4 - Degradê */

.linear-gradient-box, 
.radial-gradient-box, 
.multiple-gradients-box {
    height: 200px;
}

.linear-gradient-box {
    color: #28eb21;
    background-image: linear-gradient(to right, #123, #235, #456, #890);
}

.radial-gradient-box {
    background-image: radial-gradient(circle, red, orange, yellow);
}

.multiple-gradients-box {
    background-image: linear-gradient(to left, 
    rgba(80, 150, 155, .7),
    rgba(120, 220, 255, 0)), 
    radial-gradient(circle at top, red, orange);
}


/* 5 - Text shadow e box shadow */


.box-shadow-example {
    width: 300px;
    height: 100px;
    background-color: #f0f0f1;
    box-shadow: 10px 10px 20px #0f0202;
}

.text-shadow-example {
    font-size: 30px;
    color: #0a0707;
    text-shadow: 4px 4px 5px;
}

.multiple-shadow-box {
    width: 300px;
    height: 100px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), 
    -3px -3px 5px rgba(175, 8, 8, 0.5);
}


/* 6 - Z index */


.z-index-box {
    position: relative;
    height: 300px;
    border: 1px solid #000;
}

.box {
    width: 300px;
    height: 100px;
    position: absolute;
    border: 1px solid black;
}

.background {
    top: 20px;
    left: 20px;
    z-index: 1;
    background-color: blue;
}

.middle {
    top: 40px;
    left: 40px;
    z-index: 2;
    background-color: green;
}

.foreground {
    top: 60px;
    left: 60px;
    z-index: 3;
    background-color: red;
}


/* 7 - Variáveis */


:root {
    --main-color: #1e5fda;
    --padding-value: 5px;
    --text-color: #fff;
    --margin: 2px;
    --text-shadow: 2px 2px 2px;
}

.content {
    padding: var(--padding-value);
}

.text {
    color: var(--main-color);
    text-shadow: var(--text-shadow);
}


/* 8 - Grid */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.grid-container div {
    background-color: red;
}

/* Grid Areas */

.grid-container-area {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-gap: 5px;
    height: 100vh;
}

header {
    grid-column: 1 / -1;  /* Pra ocupar toda a largura da tela */
    background-color: #f0f0f0;
    text-align: center;
}

.aside {
    grid-column: 1;
    grid-row: 2;
    background-color: red;
}

.main-content {
    grid-column: 2;
    grid-row: 2;
    background-color: green;
}

.footer {
    grid-column: 1 / -1;
    background-color: #ccc;
}
